@charset "utf-8";


* { margin:0; padding:0;}
*, *:before, *:after { box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
body { margin:0; padding:0;  }
:focus { outline:none;}
ul,	li{ list-style:none; }
a { text-decoration:none !important; color: #333 }
h1,h2,h3,h4,h5,h6 { padding:0; font-weight:normal; }


#header > .navbar {
    min-height:50px; line-height: 48px; background:#f8f8f8; padding: 0px; border-bottom: 1px solid #ccc;
    background: -moz-linear-gradient(top,#c1c1c1 0,#e0e0e0 32px);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#c1c1c1),color-stop(32px,#e0e0e0));
    background: -webkit-linear-gradient(top,#c1c1c1 0,#e0e0e0 32px);
    background: -o-linear-gradient(top,#c1c1c1 0,#e0e0e0 32px);
    background: -ms-linear-gradient(top,#c1c1c1 0,#e0e0e0 32px);
    background: linear-gradient(top,#c1c1c1 0,#e0e0e0 32px);
}
#header img { vertical-align: middle; }
#header .logo { float:left; }
#header .logo a { }

#header > .navbar-dev {
    background: #fff29b;
}

#nav { padding:18px 0 0 0; float:right; }
#nav .navbar-nav { margin:0; padding:0; display:block; }
#nav .navbar-nav > li { margin:0; padding:0 15px; display:block; float:left; }
#nav .navbar-nav > li > a { display:block; font-size:16px; line-height:20px; color:#ffffff; margin:0; padding:0; }
#nav ul li:last-child { padding-right:0; }
/*#nav ul li.active a,#nav ul li a:hover { color:#ffbb33; background:none; }*/
.navbar-toggle .icon-bar { background: #777; }

.arrow-logo {
    margin-left: 5px;
    margin-top: -3px;
    margin-right: 15px;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    float:left;
}
.arrow-logo img {
    height: 28px;
}
.dashboard-popup {
    float: left;
    padding-right: 10px;
    font-size: 15px;
}

#content { padding: 20px 0;  }
#content .container { position:relative; }
#content h2.title { font-size:25px; line-height:27px; color:#cc0000; margin:0; padding:0 45px 32px 45px; text-align:center; font-weight:normal;  }

#content .top_tab {  }
#content .top_tab .top_tab_nav { margin:0; padding:0; }
#content .top_tab .top_tab_nav ul { margin:0; padding:0; display:block; }
#content .top_tab .top_tab_nav ul li { margin:0; padding:0; display:block; width:33.33%; text-align:center; float:left; }
#content .top_tab .top_tab_nav ul li a { display:block; font-size:25px; line-height:62px; color:#555555; padding:0; margin:0 5px 0 0; background:#f8f8f8; text-align:center;  border-radius:7px 7px 0 0; }
#content .top_tab .top_tab_nav ul li.active a,#content .top_tab .top_tab_nav ul li a:hover { background:#f0f0f0; color:#999999; text-decoration:none; }
#content .top_tab .top_tab_nav ul li:last-child a { margin-right:0; }

#content .top_tab .top_tab_c { background:#f0f0f0; }
#content .top_tab .top_tab_c .container { position:relative; background:url(../images/bg_1.png) no-repeat right bottom;  }
#content .top_tab .top_tab_c_innn { width:500px; padding:48px 0 60px 45px; float:left; }
#content .top_tab .top_tab_c h1 { font-size:48px; line-height:44px; color:#555555; font-weight:normal;  margin:0; padding:0; }
#content .top_tab .top_tab_c p { font-size:16px; line-height:26px; color:#555555; margin:25px 0 20px 0; padding:0; }
#content .top_tab .top_tab_c .btn_c { width:162px; border:none; border-radius:10px; text-align:center; font-size:15px; line-height:35px; color:#fff; display:block;  font-weight:normal; border-radius:10px; background:#cc0000; text-decoration:none; }
#content .top_tab .top_tab_c .btn_c:hover { text-decoration:none; }
#content .top_tab .top_tab_c .box_1 { width:165px; height:155px; background:#fff; padding:23px 10px 23px 23px; font-size:36px; line-height:27px; color:#cc0000; font-weight:normal;  position:relative; margin:80px 140px 0 0; float:right; border-radius:10px; }
/*#content .top_tab .top_tab_c .box_1 span { position:absolute; bottom:-46px; left:55px; display:block; width:38px; height:46px; background:url(../images/bg_2.png) no-repeat center top; }*/


#content h1 { font-size:48px; line-height:50px; color:#555555; font-weight:normal; margin:0; padding:0 0 15px 0;  }
#content h6 { font-size:16px; line-height:18px; color:#555555; font-weight:normal; margin:0; padding:0 0 25px 0;  }

#content .block_c { padding:80px 0;  }
#content .block_c .block { padding:0 30px; text-align:center; }
#content .block_c .thumb { width:174px; height:174px; vertical-align:top; display:inline-block; background:#cc0000; text-align:center; border-radius:50%; }
#content .block_c h4 { font-size:20px; line-height:22px; color:#555555; font-weight:normal; padding:20px 0 15px 0; margin:0; text-align:center; }
#content .block_c p { font-size:13px; line-height:18px; color:#555555; font-weight:normal; padding:0; margin:0; text-align:center; }

#content .client_c { text-align:center; }
#content .client_c .client_logo { margin-bottom:7px; }
#content .client_c .overlay_txt { display:none; font-size:25px; color:#ffffff; width:100%; border-radius:5px;   }
#content .client_c .client_logo:hover img { display:none; }
#content .client_c .client_logo:hover .overlay_txt { display:inline-block;  }
#content .client_c .client_logo:hover .client_thumb { background:#cc0000; }
#content .client_c .client_thumb { display:table-cell; vertical-align:middle; text-align:center; height:175px; width:360px; border:1px solid #f0f0f0; border-radius:5px; }
#content .client_c a { display:block; }
#content .client_c .client_thumb img {  }

#content .tech_c { text-align:center; padding:50px 0 20px 0; }
#content .tech_c ul { padding:25px 0 0 0; display:inline-block; }
#content .tech_c ul li { margin:0; display:block; padding:0 25px; float:left; }

#content .blk_row { padding:20px 0 70px 0; margin:0 45px 30px 45px; border-bottom:1px solid #cc0000; }
#content .blk_last_row { padding-bottom:0px; margin-bottom:10px; border:none; }
#content .blk_row .thumb_right { float:right; margin:85px -20px 0 15px; }
#content .blk_row .thumb_left { float:left; margin:85px 30px 0 -15px; }


#content .blk_row .logo_img {  }
#content .blk_row h2 { font-size:25px; line-height:27px; color:#555555; margin:0; padding:15px 0 20px 0; font-weight:normal;  }

#content .blk_row p { font-size:14px; line-height:20px; color:#555555; margin:0; padding:0 0 20px 0;}
#content .blk_row ul { margin:0; padding:0; display:block; }
#content .blk_row ul li { margin:0; padding:0 0 15px 25px; font-weight:normal; display:block; font-size:14px; line-height:20px; color:#555555; background:url(../images/icon_1.png) no-repeat left 3px; }
#content .blk_row ul li strong {  font-weight:normal;  }
#content .blk_row .bot_txt { margin:10px 0 0 0; padding:0 0 20px 25px; font-weight:normal; display:block; font-size:14px; line-height:20px; color:#555555; background:url(../images/icon_2.png) no-repeat left 3px; }
#content .blk_row .bot_txt strong {  font-weight:normal; }
#content .blk_row .blk_desc { overflow:hidden; }

#content .inner_c { width:650px; padding:0 45px;  }
#content .inner_c h2 { font-size:25px; line-height:27px; color:#555555; padding:0; margin:15px 0 20px 0; font-weight:normal;  }
#content .inner_c p { font-size:14px; line-height:20px; color:#555555; padding:0; margin:0 0 0 0; }
#content .inner_c p strong {  font-weight:normal; }
#content .inner_c h5 { margin:20px 0 20px 0;  font-weight:normal; font-size:14px; line-height:20px; padding:0; }
#content .inner_c h4 { margin:40px 0 25px 0;  font-weight:normal; font-size:18px; line-height:20px; padding:0; }

#content .inner_c ul { margin:0; padding:0; }
#content .inner_c ul li { margin:0; padding:0 0 8px 25px; font-weight:normal; display:block; font-size:14px; line-height:20px; color:#555555; background:url(../images/icon_1.png) no-repeat left 3px; }



#content .contact_c {  }
#content .contact_c ul li { float:left; width:230px; margin:0 50px 0 0; }
#content .contact_c p { padding-bottom:10px; padding-left:25px; }
.map img { width:100%; height:auto; }

#content .right_bot_bg { position:absolute; right:0; bottom:-38px; }

#footer { padding:35px 0 25px 0; border-top: 1px solid #e5e5e5;  }
#footer h2 { font-size:25px; line-height:30px; color:#cc0000; font-weight:normal;  margin:0 0 25px 0; padding:0; text-align:center; }
#footer p.footer-text { font-size:16px; line-height:20px; color: #999; font-weight:normal; margin:0; text-align:center; padding:0; }
#footer p.footer-packages { margin-top: 10px; text-align: center; color: #ccc; }
.datatable a {
    font-weight: bold;
}