{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8" />
    <title>KlaroCPQ</title>
    {% stylesheets filter="cssrewrite"
        'bundles/klarocpq/css/login.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>
<body>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="box">
        <h1>KlaroCPQ</h1>

        <input type="text" name="_username" class="username" value="{{ last_username }}" required="required"
               autocomplete="username" placeholder="username" />
        <input type="password" name="_password" class="password" required="required" autocomplete="current-password"
               placeholder="password"/>

        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_remember_me" value="on" />
        <input type="submit" class="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
</body>
</html>
