<!DOCTYPE HTML>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>
        {% block title %}
            KlaroCPQ Sales Configurator
        {% endblock %}
    </title>

    {% block stylesheets %}
        {% stylesheets filter="cssrewrite"
            'vendor/bootstrap/dist/css/bootstrap.min.css'
            'vendor/chosen-bootstrap/chosen.bootstrap.css'
            'vendor/datatables-bootstrap3/integration/bootstrap/3/dataTables.bootstrap.css'
            'vendor/font-awesome/css/font-awesome.min.css'
            'vendor/jquery-treetable/stylesheets/jquery.treetable.css'
            'vendor/messenger/build/css/messenger.css'
            'vendor/select2/select2-bootstrap.css'
            'vendor/select2/select2.css'
            'vendor/spectrum/spectrum.css'

            'vendor/bootstrap/dist/css/bootstrap-theme.min.css'
            'vendor/messenger/build/css/messenger-theme-flat.css'

            'bundles/klaroquotation/css/chosen-bootstrap.css'
            'bundles/klaroquotation/css/navbar.css'
            'bundles/klaroquotation/css/phase.css'
            'bundles/klaroquotation/css/sidebar.css'

            'bundles/klarocpq/css/klarocpq.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ url('bazinga_jstranslation_js') }}"></script>

        {% javascripts
            'vendor/jquery/dist/jquery.js'
            'vendor/bootstrap/dist/js/bootstrap.js'
            'vendor/requirejs-bower/require.js'
            'js/translations/config.js'
            'js/translations/*/*.js'

            'bundles/klaroquotation/js/entry.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {{ klaro_quotation_requirejs_config({
            globals : {
                'jquery'     : 'jQuery',
                'translator' : 'Translator'
            },
            paths: {
                'amcharts'             : 'vendor/amcharts/dist/amcharts/amcharts',
                'amcharts.pie'         : 'vendor/amcharts/dist/amcharts/pie',
                'amcharts.serial'      : 'vendor/amcharts/dist/amcharts/serial',
                'amcharts.theme.light' : 'vendor/amcharts/dist/amcharts/themes/light',
                'backbone'             : 'vendor/backbone/backbone',
                'backbone.babysitter'  : 'vendor/backbone.babysitter/lib/backbone.babysitter',
                'backbone.wreqr'       : 'vendor/backbone.wreqr/lib/backbone.wreqr',
                'bootbox'              : 'vendor/bootbox/bootbox',
                'bootstrap'            : 'vendor/bootstrap/dist/js/bootstrap',
                'bootstrap-datepicker' : 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker',
                'chosen'               : 'vendor/chosen/chosen.jquery',
                'datatables-bootstrap' : 'vendor/datatables-bootstrap3/integration/bootstrap/3/dataTables.bootstrap',
                'datatables'           : 'vendor/datatables/media/js/jquery.dataTables',
                'html5sortable'        : 'vendor/html5sortable/dist/html.sortable',
                'image-picker'         : 'vendor/image-picker/image-picker/image-picker',
                'jquery-treetable'     : 'vendor/jquery-treetable/javascripts/src/jquery.treetable',
                'marionette'           : 'vendor/marionette/lib/backbone.marionette',
                'messenger'            : 'vendor/messenger/build/js/messenger',
                'messenger-flat'       : 'vendor/messenger/build/js/messenger-theme-flat',
                'select2'              : 'vendor/select2/select2',
                'spectrum'             : 'vendor/spectrum/spectrum',
                'underscore'           : 'vendor/underscore/underscore',

                'jquery-treetable'     : 'vendor/jquery-treetable/javascripts/src/jquery.treetable',
                'jquery.ui.widget'     : 'vendor/jquery-ui/ui/widget',
                'moment'               : 'vendor/moment/moment',
                'jqfileupload'         : 'vendor/jquery-file-upload/js/jquery.fileupload',
                'version.js'           : 'vendor/version.js/src/version',
            }
        }) }}

        <script type="text/javascript">
            requirejs.config({
                shim: {
                    'amcharts.theme.light'    : {
                        deps: ['amcharts'],
                        exports: 'AmCharts',
                        init: function() {
                            AmCharts.isReady = true;
                        }
                    },
                    'amcharts.pie'      : {
                        deps: ['amcharts'],
                        exports: 'AmCharts',
                        init: function() {
                            AmCharts.isReady = true;
                        }
                    },
                    'amcharts.serial'      : {
                        deps: ['amcharts'],
                        exports: 'AmCharts',
                        init: function() {
                            AmCharts.isReady = true;
                        }
                    }
                }
            });
        </script>
    {% endblock %}

    {% block bodyjavascripts %}
    {% endblock %}

</head>

<body>

<div id="header">
    <nav class="navbar navbar-static-top navbar-{{ app.environment }}" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-page">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% block logo %}
                        <div class="navbar-brand">
                            <a href="{{ path('klarocpq_index') }}" class="arrow-logo"><img src="{{ asset('bundles/klarocpq/images/klarocpq.png') }}" /> KlaroCPQ</a>
                            <div class="dashboard-popup"></div>
                        </div>
                        <a href="{{ path('klaro_quotation_index') }}" class="navbar-brand">
                            {{ klaro_quotation_application_title }}

                            {% if app.environment != 'prod' %}
                                <span class="label label-danger">{{ app.environment | upper }}</span>
                            {% endif %}
                        </a>
                    {% endblock %}
                </div>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                {% block mainNavigation %}
                {% endblock %}
            </div>
        </div>
    </nav>
</div>

{% block content %}
{% endblock content %}

</body>
</html>